<div class="footer">
	<div class="footer-top">
		<p><%= link_to "Home", root_path %></p>
		<p class="vertical_line"> &nbsp;&nbsp; | &nbsp;&nbsp; </p>
		<p><%= link_to "What We Do", whatwedo_path %></p>
		<p class="vertical_line"> &nbsp;&nbsp;| &nbsp;&nbsp; </p>
		<p><%= link_to "Team", root_path(:anchor => "team") %></p>
		<p class="vertical_line"> &nbsp;&nbsp;| &nbsp;&nbsp; </p>
		<!--<p><%= link_to "News", root_path(:anchor => "news") %></p>
		<p> &nbsp;&nbsp; | &nbsp;&nbsp; </p>
		<p><%= link_to "Contact", "mailto:contact@pmclconsulting.com" %></p> -->
		<p><%= link_to "Terms of Use", terms_path %></p>
		<p class="vertical_line"> &nbsp;&nbsp;| &nbsp;&nbsp; </p>
		<p><%= link_to "Privacy Policy", privacy_policy_path %></p>
		<p class="vertical_line"> &nbsp;&nbsp;| &nbsp;&nbsp; </p>
		<p><%= link_to "Complaints Procedure", "https://res.cloudinary.com/dqxvcdy6w/image/upload/v1576832397/Complaints_procedure_vdrerk.pdf", target: :_blank %></p>
	</div>
	<div class="footer-bottom text-center">
		<p>Portfolio Manager Consultancy Ltd is an appointed representative of Thornbridge Investment Management LLP, which is authorised and regulated by the Financial Conduct Authority.</p>
	</div>
</div>

