<div class="footer">
	<p><%= link_to "Home", root_path %></p>
	<p> &nbsp;&nbsp; | &nbsp;&nbsp; </p>
	<p><%= link_to "What We Do", whatwedo_path %></p>
	<p> &nbsp;&nbsp;| &nbsp;&nbsp; </p>
	<p><%= link_to "Team", root_path(:anchor => "team") %></p>
	<p> &nbsp;&nbsp;| &nbsp;&nbsp; </p>
	<p><%= link_to "News", root_path(:anchor => "news") %></p>
	<p> &nbsp;&nbsp; | &nbsp;&nbsp; </p>
	<p><%= link_to "Contact", "contact@pmclconsulting.com" %></p>
</div>
