<div class="wrapper">
	<div class="banner">
		<div class="banner-content">
			<%= image_tag "PMCL_Logo.png" %>
			<h3><span>Advising charities on investment management</span></h3>
		</div>
	</div>
	<div class="page-content">
		<div class="intro-para">
			<p><strong>Portfolio Manager Consultancy Ltd. (PMCL)</strong> is a consultancy business established by Edward Jewson to advise charities on their investment management. PMCL's approach is based on two pillars - that of deep understanding of charity portfolio management and expertise in global investment research. <span><%= link_to "Read more...", "", id:"read-more" %></span> <span><%= link_to "Read less...", "", class:"hidden", id:"read-less" %></span></p>
			<p class="read-more hidden">We strive to help charity trustees achieve best performance with their fund managers. We work with the trustees to make a thorough assessment of the investment policy and the incumbent fund management arrangements. We enhance charity investment policies to become beyond formal and fully reflect their particular investment targets. We do this through taking an out-of-the box approach to asset allocation and bench-mark setting by looking at a broader range of asset classes than traditionally used by many charities. We conduct professional and fully impartial manager and performance review.
			<br></br>
			We aspire to challenge the existing status-quo to ensure that investment process is truly aligned with the particular needs of our clients. Our thorough and detailed review highlights the areas where fund managers have performed well, as well as the areas with potential for improvement. If the trustees conclude that they would like to change fund managers, we can carry out a beauty parade of suitable managers with the view to finding a replacement.
			<br></br>
			PMCL is not affiliated with any fund manager and only receives its remuneration from its clients and therefore remains completely impartial.
			</p>
		</div>
		<div class="intro-paras">
			<div class="intro-para-first">
				<h4>INVESTMENT POLICY</h4>
				<hr>
				<p>We see investment policy as a cornerstone of effective investment management and successful relationships with fund managers. We review investment policy and ensure it is truly aligned with a charity’s investment goals</p>
				<p><span><%= link_to "Learn more", whatwedo_path(:anchor => "whatwedo-para-first") %></span></p>
			</div>
			<div class="intro-para-second">
				<h4>FUND MANAGER REVIEW & MONITORING</h4>
				<hr>
				<p>We assist charities in monitoring of their investment management and conduct regular reviews of fund manager service and investment performance. We provide consolidated reporting where portfolios are</p>
				<p><span><%= link_to "Learn more", whatwedo_path(:anchor => "whatwedo-para-second") %></span></p>
			</div>
			<div class="intro-para-last">
				<h4>CONDUCTING MANAGER SELECTION</h4>
				<hr>
				<p>We assist charity trustees on assessing their fund manager arrangements as a part of regular monitoring or bespoke projects. Where trustees come to a decision to intervene and change their fund managers, we will carry out a</p>
				<p><span><%= link_to "Learn more", whatwedo_path(:anchor => "whatwedo-para-last") %></span></p>
			</div>
		</div>
	</div>

	<div class="page-content" id="team-anchor">
		<div class="team-section">
			<h3>Our Team</h3>
			<div class="team-members">
        <% @team_members.each do |member| %>
  				<div class="team-member">
  					<%= image_tag(member.image, crop: :fit) %>
  					<h4><%= member.name %></h4>
  					<h5><a href="tel:<%= member.tel.gsub(" ", "-") %>"><%= member.tel %></a></h5>
  					<h5><%= link_to member.email, "mailto:#{member.email}" %></h5>
  					<p><%= member.bio %></p>
  				</div>
        <% end %>
			</div>
		</div>
	</div>

	<div class="page-content" id="news-anchor">
		<div class="news-section">
			<h3>News</h3>
			<div class="news-paras">
        <% count = 1 %>
        <% @news.each do |news| %>
          <% if count == 4 %>
          </div>
          <br>
          <div class="news-paras">
          <% end %>
          <div class="news-item">
            <h4><%= news.title %></h4>
            <h5><%= news.date %></h5>
            <hr>
            <p><%= news.body.truncate(200) %>...</p>
          </div>
          <% count += 1 %>
        <% end %>
			</div>
		</div>
	</div>


		<!-- <div class="contact-details" id="contact-anchor">
			<h6>CONTACT</h6>
			<p><span>Phone:</span><br><a href="tel:+44-203-488-1184">+44 (0) 20 7866 2534</a></p>
			<p><span>Email:</span><br><$# link_to "info@pmclconsulting.com", "mailto:info@pmclconsulting.com" %></p>
		</div> -->
	</div>
</div>
