<div class="wrapper">
	<div class="banner">
		<div class="banner-content">
			<%= image_tag "PMCL_Logo.png" %>
			<h3><span>Advising charities on investment management</span></h3>
		</div>
	</div>
	<div class="page-content">
		<div class="intro-para">
			<p><strong>Portfolio Manager Consultancy Ltd. (PMCL)</strong> is a consultancy business established by Edward Jewson to advise charities on their investment management. PMCL's approach is based on two pillars - that of deep understanding of charity portfolio management and expertise in global investment research. <span>Read more...</span></p>
		</div>
		<div class="intro-paras">
			<div class="intro-para-first">
				<h4>INVESTMENT POLICY</h4>
				<p>We see investment policy as a cornerstone of effective investment management and successful relationships with fund managers. We review investment policy and ensure it is truly aligned with a charity’s investment goals</p>
				<p><span>Learn more</span></p>
			</div>
			<div class="intro-para-second">
				<h4>FUND MANAGER REVIEW & MONITORING</h4>
				<p>We assist charities in monitoring of their investment management and conduct regular reviews of fund manager service and investment performance. We provide consolidated reporting where portfolios are</p>
				<p><span>Learn more</span></p>
			</div>
			<div class="intro-para-last">
				<h4>CONDUCTING MANAGER SELECTION</h4>
				<p>We assist charity trustees on assessing their fund manager arrangements as a part of regular monitoring or bespoke projects. Where trustees come to a decision to intervene and change their fund managers, we will carry out a</p>
				<p><span>Learn more</span></p>
			</div>
		</div>
	</div>
	<div class="page-content" id="team">
		<div class="team-section">
			<h3>Our Team</h3>
			<div class="team-members">
				<div class="team-member team-member-first">
					<%= image_tag("http://res.cloudinary.com/ddota4fci/image/upload/v1475845440/ME_hfrqwh.jpg", crop: :fit) %>
					<h4>Edward Jewson</h4>
					<h5><a href="tel:+44-777-063-8907">+44 (0) 7770 668907</a></h5>
					<h5><%= link_to "edward@pmclconsulting.com", "mailto:info@pmclconsulting.com" %></h5>
					<p>Edward Jewson has more than twenty years of experience in advising charities. Edward was the founder and CEO of Jewson Associates, a Charity specialist investment consultancy that was later acquired by Stanhope Capital. He then became Head of Stanhope Jewson.</p>
				</div>
				<div class="team-member team-member-last">
					<%= image_tag("http://res.cloudinary.com/ddota4fci/image/upload/v1475845440/ME_hfrqwh.jpg", crop: :fit) %>
					<h4>Tatyana Mursalimov</h4>
					<h5><a href="tel:+44-790-927-9273">+44 (0) 7909 279273</a></h5>
					<h5><%= link_to "tatyana@pmclconsulting.com", "mailto:tatyana@pmclconsulting.com" %></h5>
					<p>Tatyana Mursalimov has professional background in global investment research, strategy planning  and consulting. For the past eight years, Tatyana has worked as an Executive Director at Goldman Sachs Global Investment Research division.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="page-content" id="news">
		<div class="news-section">
			<h3>News</h3>
			<div class="news-paras">
				<div class="intro-para-first">
					<h4>Title</h4>
					<h5>Date</h5>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit facilis aperiam harum animi unde! Tempora rem, deleniti reiciendis repudiandae placeat, commodi quaerat blanditiis error incidunt quis maxime? </p>
				</div>
				<div class="intro-para-second">
					<h4>Title</h4>
					<h5>Date</h5>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione cum hic nam animi, cupiditate illo modi, asperiores, qui tenetur, incidunt laboriosam nulla. Voluptatum ad quam, sunt dolorum pariatur nulla placeat.</p>
				</div>
				<div class="intro-para-last">
					<h4>Title</h4>
					<h5>Date</h5>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis placeat obcaecati labore architecto, quod nostrum neque, amet nulla atque quibusdam aliquid eligendi ratione laboriosam maxime quisquam.</p>
				</div>
			</div>
			<br>
			<div class="news-paras">
				<div class="intro-para-first">
					<h4>Title</h4>
					<h5>Date</h5>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque ipsam ad, ipsa aperiam earum assumenda non cumque quasi, sint id, nemo quo labore nesciunt maxime rerum illum tempora vero. Lorem ipsum dolor sit.</p>
				</div>
				<div class="intro-para-second">
					<h4>Title</h4>
					<h5>Date</h5>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit provident sapiente est, natus magni culpa cum blanditiis ducimus suscipit sit facilis explicabo. Itaque officia sequi, a officiis aliquam exercitationem unde magni!</p>
				</div>
				<div class="intro-para-last">
					<h4>Title</h4>
					<h5>Date</h5>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium et at rerum, officia perspiciatis enim vero praesentium. Numquam nihil alias repellendus officia laudantium, totam quia incidunt, eius, animi aliquam quidem.</p>
				</div>
			</div>
		</div>
	</div>


		<!-- <div class="contact-details">
			<h6>CONTACT</h6>
			<p><span>Phone:</span><br><a href="tel:+44-203-488-1184">+44 (0) 20 7866 2534</a></p>
			<p><span>Email:</span><br><$# link_to "info@pmclconsulting.com", "mailto:info@pmclconsulting.com" %></p>
		</div> -->
	</div>
</div>
