<div class="wrapper">
	<div class="page-content">
		<div class="whatwedo-section">
			<h2>What We Do</h2>
			<div class="whatwedo-paras">
        <% @what_we_do.each do |wwd| %>
          <div id=<%= "whatwedo-para-#{wwd.title.first(4).downcase}" %>></div>
          <div class="whatwedo-para">
            <h5><%= wwd.title.upcase %><hr class="whatwedo-line"></h5>
            <p><%= wwd.body.html_safe %></p>
          </div>
        <% end %>
			</div>
		</div>
	</div>
</div>
<!--<div class="page-content" id="news-anchor">
  <div class="news-section">
    <h3>News</h3>
    <div class="single-news">
      <h4><%= @news.first.title %></h4>
      <h5><%= @news.first.date.strftime("%d/%m/%Y") %></h5>
      <hr>
      <p><%= @news.first.body %></p>
    </div>-->

    <!-- <div class="news-paras">
      <%# count = 1 %>
      <%# @news.each do |news| %>
        <%# if count == 4 %>
        </div>
        <br>
        <div class="news-paras">
        <%# end %>
        <div class="news-item">
          <h4><%# news.title %></h4>
          <h5><%# news.date.strftime("%d/%m/%Y") %></h5>
          <hr>
          <p><%# news.body.truncate(200) %></p>
        </div>
        <%# count += 1 %>
      <%# end %>
    </div> -->
  </div>
</div>

